<div class="main_div">
    <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>
            Register
        </mat-card-title>
        <form #registersForm="ngForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field>
                    <input matInput placeholder="Gebruikersnaam " type="text" [(ngModel)]="model.gebruikersnaam"
                        required minlength="2" name="gebruikersnaam" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Email adres" type="text" [(ngModel)]="model.email" required
                        minlength="2" name="email" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Wachtwoord" type="password" [(ngModel)]="model.wachtwoord" required
                        name="wachtwoord" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Bevestig wachtwoord" type="password" required
                        name="bevestigWachtwoord" />
                </mat-form-field>
                <mat-error>{{error}}</mat-error>
                <p fxLayoutGap="20px">
                    <button mat-button color="primary" [disabled]="!registersForm.form.valid"
                        type="submit">Registreer</button>
                </p>
        </form>
    </mat-card>
</div>