mat-card{
    max-width: 350px;
    height: 350px;
    margin: auto;
    margin-top: 150px;
    text-align: center;
}
mat-form-field{
    width: 200px;
    margin: 5px;
}

mat-error{
    width: 300px;
}