<mat-card>
    <mat-card-header>
        <mat-card-title>{{titel}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-action-list *ngFor="let mijnPoll of mijnPolls">
            <app-poll-list-item [poll]="mijnPoll"></app-poll-list-item>
        </mat-action-list>
        <p *ngIf="mijnPolls == 0">hier zijn momenteel nog geen polls</p>
    </mat-card-content>
    <mat-card-actions  *ngIf="mijnPolls != 0">
        <button mat-raised-button routerLink="/{{link}}" color="primary">Meer</button>
    </mat-card-actions>
</mat-card>