mat-sidenav {
    width: 250px;
}

mat-sidenav-container {
    /* Firefox */
    height: -moz-calc(100% - 64px);
    /* WebKit */
    height: -webkit-calc(100% - 64px);
    /* Opera */
    height: -o-calc(100% - 64px);
    /* Standard */
    height: calc(100% - 64px);
}

@media(max-width: 599px) {
mat-sidenav-container {
    /* Firefox */
    height: -moz-calc(100% - 56px);
    /* WebKit */
    height: -webkit-calc(100% - 56px);
    /* Opera */
    height: -o-calc(100% - 56px);
    /* Standard */
    height: calc(100% - 56px);
    }
}